<h1><%= @tournament.organization %></h1>

<h2>
    Date: <%= @tournament.date %><br>
    Registration Open: <%= @tournament.registration_open %><br>
    Registration Close: <%= @tournament.registration_close %><br>
</h2>

<h3>Divisions</h3>